Checks: >
  -*,
  bugprone-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  -bugprone-easily-swappable-parameters,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -bugprone-implicit-widening-of-multiplication-result

# This ensures it doesn't try to fix system headers
HeaderFilterRegex: 'compiler/include/.*'

CheckOptions:
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '1'
