build/
out/
bin/
releases/
media/
temp

*.o
*.d
*.o.d
CMakeFiles/
CMakeCache.txt
compile_commands.json

**/build
**/out

# Ignore all AUR stuff except PKGBUILD and .SRCINFO
Arch/Nytrogen/
Arch/src/
Arch/pkg/

Arch/*.pkg.tar.zst
Arch/*.pkg.tar.zst.sig
